<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.hlk.data.mapper.BacklogMapper">

	 <!--表名 -->
	<sql id="tableName">
		t_backlog
	</sql>
	<!-- 字段 -->
	<sql id="field">
		backlog_id,
		backlog_state,
		backlog_type,
		dossier_message,
		backlog_host,
		backlog_access_state,
		createtime,
		createuser,
		updatetime,
		updateuser,
		visibale,
		backlog_time
 	</sql>
 	
 	<!-- 关联查询字段 -->
 	<sql id="fieldd">
		b.backlog_id,
		b.backlog_state,
		CASE b.backlog_state when 0 then '待办'::varchar when 1 then '已办'::varchar 
				else null end as backlog_statemc,
		b.backlog_type,
		CASE b.backlog_type when 0 then '申请入库'::varchar when 1 then '申请出库'::varchar 
		 					when 2 then '入库统一保管'::varchar when 3 then '出库待审批'::varchar 
							when 4 then '转交待审批'::varchar when 5 then '待归还'::varchar 
		  					when 6 then '转交待确认'::varchar when 7 then '电子借阅待审批'::varchar
		  					when 8 then '电子借阅确认'::varchar when 9 then '电子卷待审阅'::varchar
				else null end as Msg,
		CASE b.backlog_type when 0 then '待入库'::varchar when 1 then '待出库'::varchar 
		 					when 2 then '待送卷'::varchar when 3 then '待审批'::varchar 
							when 4 then '待审批'::varchar when 5 then '待归还'::varchar 
		  					when 6 then '待转交'::varchar when 7 then '待审批'::varchar
		  					when 8 then '待确认'::varchar when 9 then '待审阅'::varchar
				else null end as backlog_typemc,
		<!-- b.dossier_message, -->
		b.backlog_host,
		b.backlog_access_state,
		b.createtime,
		b.createuser,
		<!-- b.updatetime, -->
		to_char(b.updatetime,'YYYY-MM-DD HH24:MI:SS') AS updatetime,
		b.updateuser,
		b.visibale,
		<!-- b.backlog_time, -->
		to_char(b.backlog_time,'YYYY-MM-DD HH24:MI:SS') AS backlog_time,
		b.dossier_message ->> 'dossier_name' as dossier_name,
		b.dossier_message ->> 'case_name' as case_name,
		b.dossier_message ->> 'casepolice' as casepolice,
		<!-- (b.dossier_message ->> 'dossier_belonger')::jsonb ->> 'police_name' as source, -->
		b.createuser as source,
		b.dossier_message ->> 'casepolice' as casepolice,
		b.dossier_message ->> 'dossier_id' as dossier_id,
		b.dossier_message ->> 'dossier_categorymc' as dossier_categorymc,
		b.dossier_message ->> 'application_id' as application_id
 	</sql>
	
	<!-- 添加字段 -->
 	<sql id="insertfield">
 		backlog_id,
		backlog_state,
		backlog_type,
		dossier_message,
		backlog_host,
		backlog_access_state,
		createtime,
		createuser,
		updatetime,
		updateuser,
		visibale,
		backlog_time
 	</sql>
	
	<sql id="insertvalue">
		#{backlog_id},
		<!-- #{backlog_state}::integer, -->
		0,
		#{backlog_type}::integer,
		#{dossier_message}::jsonb,
		#{backlog_host}::jsonb,
		<!-- #{backlog_access_state}::integer, -->
		1,
		now(),
		#{updateuser},
		now(),
		#{updateuser},
		1,
		#{backlog_time}
	</sql>
	
	<!-- 待办添加 -->
	<insert id="addBacklog" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="insertfield"></include>
			) values (
		<include refid="insertvalue"></include>
			)
	</insert>
	
	<!-- 待办修改  -->
	<update id="updateBacklog" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		<set>
			<if test="backlog_state != null ">
				backlog_state=#{backlog_state}::integer,
			</if>
			<if test="backlog_type != null ">
				backlog_type=#{backlog_type}::integer,
			</if>
			<if test="dossier_message != null ">
				dossier_message=#{dossier_message}::jsonb,
			</if>
			<if test="backlog_host != null ">
				backlog_host=#{backlog_host}::jsonb,
			</if>
			<if test="backlog_access_state != null ">
				backlog_access_state=#{backlog_access_state}::integer,
			</if>
			<if test="updateuser != null and updateuser != '' ">
				updateuser=#{updateuser},
			</if>
				updatetime=now(),
			<if test="visibale != null">
				visibale=#{visibale}::integer,
			</if>
			<if test="backlog_time != null and backlog_time != ''">
				backlog_time = #{backlog_time}::TIMESTAMP,
			</if>
		</set>
		where backlog_id = #{backlog_id}
	</update>
	
	<!-- 待办条件查询 -->
	<select id="searchBacklogPgListPage" parameterType="page" resultType="pd">
		SELECT 
			row_number() over (ORDER BY b.updatetime DESC) as xh,
			<include refid="fieldd"></include>
			from <include refid="tableName"></include> b
			where 1=1 
			<!-- 待办类型 -->
			<if test="pd.backlog_type !=null and pd.backlog_type != 3 ">
				and b.backlog_type = #{pd.backlog_type}
			</if>
			<if test="pd.backlog_type !=null and pd.backlog_type == 3 ">
				and b.backlog_type in (3,4,7)
			</if>
			<!-- 待办状态 -->
			<if test="pd.backlog_state !=null ">
				and b.backlog_state = #{pd.backlog_state}
			</if>
			<!-- 卷宗名称 -->
			<if test="pd.dossier_name !=null and pd.dossier_name != '' ">
				and b.dossier_message ->> 'dossier_name' like CONCAT(CONCAT('%',#{pd.dossier_name}),'%')
			</if>
			<!-- 案件名称 -->
			<if test="pd.case_name !=null and pd.case_name != '' ">
				and b.dossier_message ->> 'case_name' like CONCAT(CONCAT('%',#{pd.case_name}),'%')
			</if>
			<!-- 查阅状态-->
			<if test="pd.backlog_access_state !=null ">
				and b.backlog_access_state = #{pd.backlog_access_state}
			</if>
			<if test="pd.beginTime!=null and pd.beginTime!=''"><!-- 开始时间检索 -->
				and b.backlog_time &gt;= concat(#{pd.beginTime},' 00:00:00')::TIMESTAMP
			</if>
			<if test="pd.endTime!=null and pd.endTime!=''"><!-- 结束时间检索 -->
				and b.backlog_time &lt;= concat(#{pd.endTime},' 23:59:59')::TIMESTAMP
			</if>
			<if test="pd.xxid != null and pd.xxid != '' ">
				and b.backlog_id = #{pd.xxid}
			</if>
			and b.backlog_host ->> 'police_idcard' = #{pd.police_idcard} 
			and b.visibale = 1
	</select>
	
	<!-- 获取待办信息 根据卷宗id -->
	<select id="getBacklogByDossierId" parameterType="pd" resultType="pd">
		SELECT 
			<include refid="fieldd"></include>,b.dossier_message
			from <include refid="tableName"></include> b
			where 1=1 
			<!-- 待办类型 -->
			<if test="backlog_type !=null ">
				and b.backlog_type = #{backlog_type}
			</if>
			and b.visibale = 1
			and b.backlog_state = 0
			and b.dossier_message ->> 'dossier_id' = #{dossier_id}
	</select>
	
	<!-- 获取待办信息 根据id  -->
	<select id="getbacklogById" parameterType="pd" resultType="pd">
		SELECT 
			<include refid="fieldd"></include>,b.dossier_message
			from <include refid="tableName"></include> b
			where 1=1 
			<!-- 待办类型 -->
			<if test="backlog_type !=null ">
				and b.backlog_type = #{backlog_type}
			</if>
			and b.visibale = 1
			and b.backlog_id  = #{backlog_id}
	</select>
	
	
</mapper>