<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.hlk.data.mapper.InformationMaterialMapper">

	 <!--表名 -->
	<sql id="tableName">
		t_information_material
	</sql>
	<!-- 字段 -->
	<sql id="field">
		id,
		code,
		message,
		name
 	</sql>
 	
 	<!-- 关联查询字段 -->
 	<sql id="fieldd">
 		i.id,
		i.code,
		i.message,
		i.name
 	</sql>
	
	<!-- 添加字段 -->
 	<sql id="insertfield">
 		id,
		code,
		message,
		name
 	</sql>
	
	<sql id="insertvalue">
		#{id},
		#{code},
		#{message},
		#{name}
	</sql>
	
	
	<!-- 告警条件查询 -->
	<select id="informationSearchGet" parameterType="pd" resultType="pd">
		SELECT 
			<include refid="fieldd"></include>
			from <include refid="tableName"></include> i
			where 1=1
			<if test="code != null and code != ''">
				and code=#{code}
			</if>
	</select>
	
	 <!-- 告警添加 -->
	 <!--
	<insert id="addAlarm" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="insertfield"></include>
			) values (
		<include refid="insertvalue"></include>
			)
	</insert> -->
	
	 <!-- 告警修改  -->
	 <!--
	<update id="updateAlarm" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		<set>
			<if test="alarm_category != null ">
				alarm_category=#{alarm_category}::integer,
			</if>
			<if test="alarm_type != null ">
				alarm_type=#{alarm_type}::integer,
			</if>
			<if test="alarm_state != null ">
				alarm_state=#{alarm_state}::integer,
			</if>
			<if test="dossier_message != null ">
				dossier_message=#{dossier_message}::jsonb,
			</if>
			<if test="warns != null ">
				warns=#{warns}::jsonb,
			</if>
			<if test="alarm_access_state != null ">
				alarm_access_state=#{alarm_access_state}::integer,
			</if>
			<if test="alarm_processing_content != null ">
				alarm_processing_content=#{alarm_processing_content}::jsonb,
			</if>
			<if test="remark != null and remark != '' ">
				remark=#{remark},
			</if>
			<if test="updateuser != null and updateuser != '' ">
				updateuser=#{updateuser},
			</if>
				updatetime=now(),
			<if test="visibale != null">
				visibale=#{visibale}::integer,
			</if>
			<if test="alarm_time != null and alarm_time != ''">
				alarm_time = #{alarm_time}::TIMESTAMP,
			</if>
		</set>
		where alarm_id = #{alarm_id}
	</update> -->
	
	
	
	
	
	
</mapper>