<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.hlk.data.mapper.NewsMapper">

	 <!--表名 -->
	<sql id="tableName">
		t_news
	</sql>
	<!-- 字段 -->
	<sql id="field">
		xid,
		title,
		newstime,
		to_char(newstime,'YYYY-MM-DD HH24:MI:SS') AS newstimestr,
		titlepic,
		smalltext,
		newstext,
		writer,
		writerid,
		news_message,
		news_message ->>'operation_type' as operation_type,
		news_type,
		visiable,
		system_id,
		updateuser,
		updatetime,
		createuser,
		createtime
 	</sql>
 	
 	<!-- 关联查询字段 -->
 	<sql id="fieldd">
		n.xid,
		n.title,
		n.newstime,
		to_char(n.newstime,'YYYY-MM-DD HH24:MI:SS') AS newstimestr,
		n.titlepic,
		n.smalltext,
		n.newstext,
		n.writer,
		n.writerid,
		n.news_message,
		n.news_message ->>'operation_type' as operation_type,
		n.news_type,
		n.visiable,
		n.system_id,
		n.updateuser,
		n.updatetime,
		n.createuser,
		n.createtime
 	</sql>
	
	<!-- 添加字段 -->
 	<sql id="insertfield">
 		xid,
		title,
		newstime,
		titlepic,
		smalltext,
		newstext,
		writer,
		writerid,
		news_message,
		news_type,
		visiable,
		system_id,
		updateuser,
		updatetime,
		createuser,
		createtime
 	</sql>
	
	<sql id="insertvalue">
		#{xid},
		#{title},
		now(),
		#{titlepic},
		#{smalltext},
		#{newstext},
		#{writer},
		#{writerid},
		#{news_message}::jsonb,
		#{news_type},
		1,
		#{system_id},
		#{updateuser},
		now(),
		#{updateuser},
		now()
	</sql>
	
	<!-- 消息添加 -->
	<insert id="addNews" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="insertfield"></include>
			) values (
		<include refid="insertvalue"></include>
			)
	</insert>
	
	<!-- 消息修改  -->
	<update id="updateNews" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		<set>
			<if test="title != null and title != '' ">
				title=#{title},
			</if>
			<if test="titlepic != null and titlepic != '' ">
				titlepic=#{titlepic},
			</if>
			<if test="smalltext != null and smalltext != '' ">
				smalltext=#{smalltext},
			</if>
			<if test="newstext != null and newstext != '' ">
				newstext=#{newstext},
			</if>
			<if test="news_message != null ">
				news_message=#{news_message}::jsonb,
			</if>
			<if test="news_type != null and news_type != '' ">
				news_type=#{news_type},
			</if>
			<if test="updateuser != null and updateuser != '' ">
				updateuser=#{updateuser},
			</if>
				updatetime=now(),
			<if test="visiable != null">
				visiable=#{visiable}::integer,
			</if>
		</set>
		where xid = #{xid}
	</update>
	
	<!-- 消息条件查询 -->
	<select id="searchNewsPgListPage" parameterType="page" resultType="pd">
		SELECT 
			row_number() over (ORDER BY n.updatetime DESC) as xh,
			<include refid="fieldd"></include>,
			(select array_to_json(array_agg(row_to_json(t)))
			from
			(select * from t_enclosure de where n.xid = de.xid) t
			) enclosure,
			u.user_message ->> 'enterpriseScale' as "enterpriseScale",
			(select row_to_json(t) from (SELECT * from t_user where uid = n.writerid) t) as "user"
			from <include refid="tableName"></include> as n
			left join t_user u on u.uid = n.writerid
			where 1=1
			<!-- 标题 -->
			<if test="pd.title !=null and pd.title != '' ">
				and n.title like CONCAT(CONCAT('%',#{pd.title}),'%')
			</if>
			<!-- 内容简介 -->
			<if test="pd.smalltext !=null and pd.smalltext != '' ">
				and n.smalltext like CONCAT(CONCAT('%',#{pd.smalltext}),'%')
			</if>

			<!-- 地区 -->
			<if test="pd.dq !=null and pd.dq != '' ">
				and n.news_message ->>'dq' = #{pd.dq}
			</if>
			<!-- 工作性质 -->
			<if test="pd.xz != null and pd.xz.size > 0 ">
				and n.news_message ->>'xz' in
				<foreach item="item" index="index" collection="pd.xz" open="(" separator="," close=")">
					#{pd.xz[${index}]}
				</foreach>
			</if>
			<!-- 学历  -->
			<if test="pd.minimumEducation !=null and pd.minimumEducation != '' ">
				and n.news_message ->>'minimumEducation' &gt;= #{pd.minimumEducation}
			</if>
			<!-- 省份  -->
			<if test="pd.province !=null and pd.province != '' ">
				and n.news_message ->>'province' = #{pd.province}
			</if>
			<!-- 工作性质  -->
			<if test="pd.workType !=null and pd.workType != '' ">
				and n.news_message ->>'workType' = #{pd.workType}
			</if>
			<!-- 发布用户  -->
			<if test="pd.name !=null and pd.name != '' ">
				and u.name like CONCAT(CONCAT('%',#{pd.name}),'%')
			</if>
			<!-- 状态  -->
			<if test="pd.state !=null ">
				and n.news_message ->>'state' = #{pd.state}::varchar
			</if>

			<!-- 正文 -->
			<if test="pd.newstext !=null and pd.newstext != '' ">
				and n.newstext like CONCAT(CONCAT('%',#{pd.newstext}),'%')
			</if>
			<!-- 创建人 -->
			<if test="pd.writer !=null and pd.writer != '' ">
				and n.writer like CONCAT(CONCAT('%',#{pd.writer}),'%')
			</if>
			<!-- 创建id -->
			<if test="pd.writerid !=null and pd.writerid != '' ">
				and n.writerid = #{pd.writerid}
			</if>

			<!-- 消息类型 -->
			<if test="pd.news_type !=null and pd.news_type.size > 0 ">
				and n.news_type in
				<foreach item="item" index="index" collection="pd.news_type" open="(" separator="," close=")">
					#{pd.news_type[${index}]}
				</foreach>
			</if>

			<!-- 化身  -->
			<if test="pd.incarousel !=null and pd.incarousel != '' ">
				and n.news_message ->>'incarousel' = #{pd.incarousel}::varchar
			</if>



			<!-- 系统id -->
			<if test="pd.system_id !=null and pd.system_id != '' ">
				and n.system_id = #{pd.system_id}
			</if>
			<!-- 薪资 -->
			<if test="pd.salaryStart !=null and pd.salaryStart != '' and pd.salaryEnd !=null and pd.salaryEnd != ''">
				and ( n.news_message ->>'salaryStart' &lt;= #{pd.salaryEnd} and n.salaryEnd ->>'salaryStart' &gt;= #{pd.salaryStart})
			</if>

			<if test="pd.beginTime!=null and pd.beginTime!=''"><!-- 开始时间检索 -->
				and n.newstime &gt;= concat(#{pd.beginTime},' 00:00:00')::TIMESTAMP
			</if>
			<if test="pd.endTime!=null and pd.endTime!=''"><!-- 结束时间检索 -->
				and n.newstime &lt;= concat(#{pd.endTime},' 23:59:59')::TIMESTAMP
			</if>
			and n.visiable = 1
	</select>
	

	<!-- 根据消息id 获取告警信息 -->
	<select id="getNewsById"  resultType="pd" parameterType="pd">
		SELECT 
			<include refid="fieldd"></include>
			from <include refid="tableName"></include> as n
			where 1=1 
			and n.visiable = 1
			and n.xid = #{xid}
	</select>
	
</mapper>