<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.hlk.data.mapper.NewsOperationMapper">

	 <!--表名 -->
	<sql id="tableName">
		t_news_operation
	</sql>
	<!-- 字段 -->
	<sql id="field">
		xid,
		uid,
		operation_type,
		job_type,
		operation_message,
		createuser,
		createtime,
		updateuser,
		updatetime,
		visiable,
		state,
		system_id,
		post_id,
		written_results,
		interview_results,
		isinterview,
		interview_message


 	</sql>
 	
 	<!-- 关联查询字段 -->
 	<sql id="fieldd">
		o.xid,
		o.uid,
		o.operation_type,
		o.job_type,
		o.operation_message,
		o.createuser,
		o.createtime,
		o.updateuser,
		o.updatetime,
		o.visiable,
		o.state,
		o.system_id,
		o.post_id,
		o.written_results,
		o.interview_results,
		o.isinterview,
		o.interview_message
 	</sql>
	
	<!-- 添加字段 -->
 	<sql id="insertfield">
 		xid,
		uid,
		operation_type,
		job_type,
		operation_message,
		createuser,
		createtime,
		updateuser,
		updatetime,
		visiable,
		state,
		system_id,
		post_id,
		written_results,
		interview_results,
		isinterview,
		interview_message
 	</sql>
	
	<sql id="insertvalue">
		#{xid},
		#{uid},
		#{operation_type},
		#{job_type},
		#{operation_message}::jsonb,
		#{updateuser},
		now(),
		#{updateuser},
		now(),
		1,
		#{state},
		#{system_id},
		#{post_id},
		#{written_results},
		#{interview_results},
		1,
		#{interview_message}::jsonb
	</sql>
	
	<!-- 消息添加 -->
	<insert id="addNewsOperation" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="insertfield"></include>
			) values (
		<include refid="insertvalue"></include>
			)
	</insert>
	
	<!-- 消息修改  -->
	<update id="updateNewsOperation" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		<set>
			<if test="state != null  ">
				state=#{state},
			</if>
			<if test="isinterview != null  ">
				isinterview=#{isinterview},
			</if>
			<if test="operation_message != null ">
				operation_message=#{operation_message}::jsonb,
			</if>
			<if test="interview_message != null ">
				interview_message=#{interview_message}::jsonb,
			</if>
			<if test="written_results != null and written_results != '' ">
				written_results=#{written_results},
			</if>
			<if test="interview_results != null and interview_results != '' ">
				interview_results=#{interview_results},
			</if>
			<if test="updateuser != null and updateuser != '' ">
				updateuser=#{updateuser},
			</if>
				updatetime=now(),
			<if test="visiable != null">
				visiable=#{visiable}::integer,
			</if>
		</set>
		where 1=1
		<if test="xid != null and xid != '' ">
			and xid = #{xid}
		</if>
		<if test="post_id != null and post_id != '' ">
			and post_id = #{post_id}
		</if>
		and visiable =1
		<if test="uid != null and uid != '' ">
			and uid = #{uid}
		</if>
	</update>
	
	<!-- 消息条件查询 -->
	<select id="searchNewsOperationPgListPage" parameterType="page" resultType="pd">
		SELECT 
			row_number() over (ORDER BY o.updatetime DESC) as xh,
			<include refid="fieldd"></include>,
			(select array_to_json(array_agg(row_to_json(t)))
			from
			(select * from t_enclosure de where o.xid = de.xid) t
			) enclosure,
			(select trade_state from t_pay as p where p.post_id = o.post_id
			and p.uid = o.uid and p.visiable = 1 limit 1
			) trade_state,
			(select row_to_json(t) from (SELECT * from t_user where uid = o.uid) t) as "user",
			(select row_to_json(t) from (SELECT * from t_news where xid = o.xid) t) as news,
			(select row_to_json(t) from (SELECT * from t_post where post_id = o.post_id) t) as post
			from <include refid="tableName"></include> as o
			where 1=1
			<!-- 考号-->
			<if test="pd.ticketnumber !=null and pd.ticketnumber != '' ">
				and o.interview_message ->>'ticketnumber' = #{pd.ticketnumber}
			</if>
		<!-- 身份证号-->
			<if test="pd.id_card !=null and pd.id_card != '' ">
				and o.operation_message ->>'id_card' = #{pd.id_card}
			</if>

			<!-- 消息id -->
			<if test="pd.xid !=null and pd.xid != '' ">
				and o.xid = #{pd.xid}
			</if>
			<!-- 公告名称 -->
			<if test="pd.title !=null and pd.title != '' ">
				and o.xid in(select xid from t_news where title like CONCAT(CONCAT('%',#{pd.title}),'%') )
			</if>
			<!-- 岗位名称 -->
			<if test="pd.postname !=null and pd.postname != '' ">
				and o.post_id in(select post_id from t_post where post_message ->>'name' like CONCAT(CONCAT('%',#{pd.postname}),'%') )
			</if>
			<!-- 工作名称 -->
			<if test="pd.jobname !=null and pd.jobname != '' ">
				and o.operation_message ->>'jobname' like CONCAT(CONCAT('%',#{pd.jobname}),'%')
			</if>
			<!-- 岗位id -->
			<if test="pd.post_id !=null and pd.post_id != '' ">
				and o.post_id = #{pd.post_id}
			</if>
			<!-- 用户id -->
			<if test="pd.uid !=null and pd.uid != '' ">
				and o.uid = #{pd.uid}
			</if>
			<!-- 操作类别id -->
			<if test="pd.operation_type !=null and pd.operation_type != '' ">
				and o.operation_type = #{pd.operation_type}
			</if>
			<!-- 身份类别 -->
			<if test="pd.job_type !=null and pd.job_type != '' ">
				and o.job_type = #{pd.job_type}
			</if>
			<!-- 状态 -->
			<if test="pd.state !=null  ">
				and o.state = #{pd.state}
			</if>
			<!-- 是否面试 0是  1否 -->
			<if test="pd.isinterview !=null  ">
				and o.isinterview = #{pd.isinterview}
			</if>

			<!-- 系统id -->
			<if test="pd.system_id !=null and pd.system_id != '' ">
				and o.system_id = #{pd.system_id}
			</if>

			<if test="pd.beginTime!=null and pd.beginTime!=''"><!-- 开始时间检索 -->
				and o.updatetime &gt;= concat(#{pd.beginTime},' 00:00:00')::TIMESTAMP
			</if>
			<if test="pd.endTime!=null and pd.endTime!=''"><!-- 结束时间检索 -->
				and o.updatetime &lt;= concat(#{pd.endTime},' 23:59:59')::TIMESTAMP
			</if>
			and o.visiable = 1
	</select>
	

	<!-- 根据消息id 获取告警信息 -->
	<select id="getNewsOperationById"  resultType="pd" parameterType="pd">
		SELECT 
			<include refid="fieldd"></include>
			from <include refid="tableName"></include> as o
			where 1=1 
			and o.visiable = 1
			<if test="xid != null and xid != '' ">
				and o.xid = #{xid}
			</if>
			<if test="post_id != null and post_id != '' ">
				and o.post_id = #{post_id}
			</if>
			<if test="uid != null and uid != '' ">
				and o.uid = #{uid}
			</if>
			<if test="operation_type != null and operation_type != '' ">
				and o.operation_type = #{operation_type}
			</if>
			limit 1
	</select>

	<!--验证是否允许投递-->
	<select id="VerificationAdd"  resultType="java.lang.Integer" parameterType="pd">
		SELECT count(0) from t_news_operation where 1=1
	<!--and updatetime > (SELECT updatetime from t_news where xid = #{xid} )-->
    and uid = #{uid}
    <if test="xid != null and xid != '' ">
        and xid = #{xid}
    </if>
    <if test="post_id1 != null and post_id1 != '' ">
        and post_id = #{post_id1}
    </if>
    <if test="operation_type != null and operation_type != '' ">
        and operation_type = #{operation_type}
    </if>
    and visiable = 1
</select>

<!--岗位成绩前三获取-->
	<select id="postPerformance"  resultType="pd" parameterType="pd">
		SELECT
		<include refid="fieldd"></include>,u.*
		from <include refid="tableName"></include> as o,t_user as u
		where 1=1
		and u.uid = o.uid
		and o.visiable = 1
		and o.post_id = #{post_id}
		and written_results in (
		SELECT written_results from t_news_operation
		where post_id = #{post_id} ORDER BY written_results LIMIT 3
		)
		and written_results is not null
	</select>

	<!--岗位成绩前三面试修改-->
	<update id="updatePostPerformance" parameterType="pd">
		update
		<include refid="tableName"></include>
		<set>
				isinterview = 0,
			<if test="interview_message != null ">
				interview_message=#{interview_message}::jsonb,
			</if>
		</set>
		where 1=1
		and visiable = 1
		and post_id = #{post_id}
		and written_results in (
		SELECT written_results from t_news_operation
		where post_id = #{post_id} ORDER BY written_results LIMIT 3
		)
		and written_results is not null
	</update>

	<!--准考证信息获取-->
	<select id="findicket"  resultType="pd" parameterType="pd">
		SELECT
		<include refid="fieldd"></include>,u.*,p.*
		from <include refid="tableName"></include> as o,t_user as u ,t_post as p
		where 1=1
		and u.uid = o.uid
		and o.post_id = p.post_id
		and o.visiable = 1
		and o.post_id = #{post_id}
		and o.uid = #{uid}
	</select>

	<!--获取数量-->
	<select id="getCount"  resultType="java.lang.Integer" parameterType="pd">
		SELECT
		count(0)
		from <include refid="tableName"></include> as o
		where 1=1
		and o.visiable = 1
		and o.state = #{state}
		and o.operation_type = #{operation_type}
	</select>

</mapper>