<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.hlk.data.mapper.RemindMapper">

	 <!--表名 -->
	<sql id="tableName">
		t_remind
	</sql>
	<!-- 字段 -->
	<sql id="field">
		remind_id,
		remind_type,
		dossier_message,
		reminding_people,
		remind_access_state,
		remind_time,
		createtime,
		createuser,
		updatetime,
		updateuser,
		visibale

 	</sql>
 	
 	<!-- 关联查询字段 -->
 	<sql id="fieldd">
		r.remind_id,
		r.remind_type,
		CASE r.remind_type when 0 then '审批通过'::varchar when 1 then '驳回'::varchar 
							when 2 then '审批通过'::varchar when 3 then '驳回'::varchar 
							when 4 then '驳回'::varchar when 5 then '驳回'::varchar 
							when 6 then '驳回'::varchar when 7 then '审批通过'::varchar
							when 8 then '驳回'::varchar when 9 then '驳回'::varchar
							when 10 then '审批通过'::varchar when 11 then '卷宗已阅'::varchar
							when 12 then '不匹配'::varchar when 13 then '不匹配'::varchar
				else null end as remind_typemc,
		CASE r.remind_type when 0 then '借阅审批完成'::varchar when 1 then '借阅审批驳回'::varchar 
							when 2 then '移交审批完成'::varchar when 3 then '移交审批驳回'::varchar 
							when 4 then '出库驳回'::varchar when 5 then '入库驳回'::varchar 
							when 6 then '转交驳回'::varchar  when 7 then '电子借阅审批完成'::varchar
							when 8 then '电子借阅审批驳回'::varchar when 9 then '电子借阅驳回'::varchar
							when 10 then '电子借阅通过'::varchar when 11 then '卷宗已阅'::varchar
							when 12 then '页码不匹配'::varchar when 13 then '案件状态不匹配'::varchar
				else null end as Msg,
		<!-- r.dossier_message, -->
		r.reminding_people,
		r.remind_access_state,
		r.remind_time,
		to_char(r.remind_time,'YYYY-MM-DD HH24:MI:SS') AS remind_time,
		r.createtime,
		r.createuser,
		<!-- r.updatetime, -->
		to_char(r.updatetime,'YYYY-MM-DD HH24:MI:SS') AS updatetime,
		r.updateuser,
		r.visibale,
		r.dossier_message ->> 'dossier_name' as dossier_name,
		r.dossier_message ->> 'case_name' as case_name,
		r.dossier_message ->> 'casepolice' as casepolice,
		(r.dossier_message ->> 'dossier_belonger')::jsonb ->> 'updateuser' as source,
		r.dossier_message ->> 'casepolice' as casepolice,
		r.dossier_message ->> 'dossier_id' as dossier_id,
		r.dossier_message ->> 'dossier_categorymc' as dossier_categorymc
 	</sql>
	
	<!-- 添加字段 -->
 	<sql id="insertfield">
 		remind_id,
		remind_type,
		dossier_message,
		reminding_people,
		remind_access_state,
		remind_time,
		createtime,
		createuser,
		updatetime,
		updateuser,
		visibale
 	</sql>
	
	<sql id="insertvalue">
		#{remind_id},
		#{remind_type}::integer,
		#{dossier_message}::jsonb,
		#{reminding_people}::jsonb,
		<!-- #{remind_access_state}::integer, -->
		1,
		#{remind_time},
		now(),
		#{updateuser},
		now(),
		#{updateuser},
		1
	</sql>
	
	<!-- 告警添加 -->
	<insert id="addRemind" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="insertfield"></include>
			) values (
		<include refid="insertvalue"></include>
			)
	</insert>
	
	<!-- 告警修改  -->
	<update id="updateRemind" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		<set>
			<if test="remind_type != null ">
				remind_type=#{remind_type}::integer,
			</if>
			<if test="dossier_message != null ">
				dossier_message=#{dossier_message}::jsonb,
			</if>
			<if test="remindingpeople != null ">
				remindingpeople=#{remindingpeople}::jsonb,
			</if>
			<if test="remind_access_state != null ">
				remind_access_state=#{remind_access_state}::integer,
			</if>
			<if test="updateuser != null and updateuser != '' ">
				updateuser=#{updateuser},
			</if>
				updatetime=now(),
			<if test="visibale != null">
				visibale=#{visibale}::integer,
			</if>
			<if test="remind_time != null and remind_time != ''">
				remind_time = #{remind_time}::TIMESTAMP,
			</if>
		</set>
		where remind_id = #{remind_id}
	</update>
	
	<!-- 提醒条件查询 -->
	<select id="searchRemindPgListPage" parameterType="page" resultType="pd">
		SELECT 
			row_number() over (ORDER BY r.updatetime DESC) as xh,
			<include refid="fieldd"></include>
			from <include refid="tableName"></include> r
			where 1=1 
			<!-- 提醒类型 -->
			<!-- <if test="pd.remind_type !=null ">
				and r.remind_type = #{pd.remind_type}
			</if> -->
			<if test="pd.remind_type !=null and pd.remind_type == 0">
				and r.remind_type in (0,2,7,10)
			</if>
			<if test="pd.remind_type !=null and pd.remind_type == 1">
				and r.remind_type in (1,3,4,5,6,8,9)
			</if>
			<if test="pd.remind_type !=null and pd.remind_type == 11">
				and r.remind_type in (11)
			</if>
			<if test="pd.remind_type !=null and pd.remind_type == 12">
				and r.remind_type in (12,13)
			</if>
			<!-- 卷宗名称 -->
			<if test="pd.dossier_name !=null and pd.dossier_name != '' ">
				and r.dossier_message ->> 'dossier_name' like CONCAT(CONCAT('%',#{pd.dossier_name}),'%')
			</if>
			<!-- 案件名称 -->
			<if test="pd.case_name !=null and pd.case_name != '' ">
				and r.dossier_message ->> 'case_name' like CONCAT(CONCAT('%',#{pd.case_name}),'%')
			</if>
			<!-- 查阅状态-->
			<if test="pd.remind_access_state !=null ">
				and r.remind_access_state = #{pd.backlog_access_state}
			</if>
			<if test="pd.beginTime!=null and pd.beginTime!=''"><!-- 开始时间检索 -->
				and r.remind_time &gt;= concat(#{pd.beginTime},' 00:00:00')::TIMESTAMP
			</if>
			<if test="pd.endTime!=null and pd.endTime!=''"><!-- 结束时间检索 -->
				and r.remind_time &lt;= concat(#{pd.endTime},' 23:59:59')::TIMESTAMP
			</if>
			<if test="pd.xxid != null and pd.xxid != '' ">
				and r.remind_id = #{pd.xxid}
			</if>
			and r.reminding_people ->> 'police_idcard' = #{pd.police_idcard} 
			and r.visibale = 1
	</select>
	
	
</mapper>